# File: .github/workflows/OIDC_workflow.yml

name: Run Azure Login with OIDC
on: workflow_dispatch

permissions:
      id-token: write
      contents: read
jobs: 
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Az CLI login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      - name: Build and deploy Container App
        uses: azure/container-apps-deploy-action@v1
        with:
          appSourcePath: ${{ github.workspace }}
          acrName: discerndevregistry
#           acrUsername: ${{ secrets.REGISTRY_USERNAME }}
#           acrPassword: ${{ secrets.REGISTRY_PASSWORD }}
          containerAppEnvironment: my-discern-container-app-env
          containerAppName: discern-webservice-dev
          resourceGroup: Discern-Dev-Resource-Group
          
          
          
